.custom-table label {
    font-size: 14px;
    font-weight: 600;
}
.custom-table select, .custom-table textarea, .custom-table input {
    border-radius: 10px;
    border: 1px solid #000;
    margin: 10px 0 0;
}
.custom-table input.custom-upload {
    padding: 5px;
    font-size: 15px;
}
.small-button,a.small-button,button.small-button,.custom-table button[type='submit'] {
    border-radius: 20px;
    padding: 10px 30px;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .5px;
}
.small-button:hover,a.small-button:hover,button.small-button:hover,.custom-table button[type='submit']:hover {
    background:#555;
}
.colored-box .title-box {
    font-size: 15px;
}
.colored-box .number-box {
    font-size: 30px;
}
.colored-box:nth-child(4) {
    background: #5dd66b;
}
.colored-box:nth-child(3) {
    background: #f6bb56;
}
.colored-box:nth-child(2) {
    background: #eda7fe;
}
.colored-box:nth-child(1) {
    background: #9d9bff;
}
.colored-box {
    background: #eee;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    box-shadow: inset 0 -20px rgb(0 0 0 / 9%);
    padding-bottom: 40px;
}
.colored-dashboard {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}
h3.small-heading {
    font-weight: 600;
}
.diff-p5 {
    padding: 1.25rem 0;
}
.simple-footer span {
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    display: block;
    padding: 15px;
    border-radius: 20px;
}
.custom-list .items-start h3 {
    color: #000;
}
.custom-list .items-start {
    border: 2px solid #000;
}
.custom-list span.rounded-full {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    padding:5px 15px;
}
.custom-list span.custom-label-blue {
    background: #a7d8fe;
}
.custom-list span.custom-label-yellow {
    background: #f6bb56;
}
.custom-list .status-1 {
    background: #d1ffd6;
}
.custom-list .status-2 {
    background: #f8eaff;
}
.custom-filter button {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #000;
    font-weight:500;
    background:#000;
    letter-spacing:.4px;
}
.custom-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    gap: 15px;
    margin-top: 20px;
}
.custom-filter.custom-f3 {
    grid-template-columns: 1fr 1fr .5fr;
}
.custom-filter.custom-f0 {
    grid-template-columns: 100%;
}
.custom-filter select,.custom-filter input {
    border-radius: 20px;
    border: 2px solid #000;
    font-size: 14px;
    font-weight: 600;
}
.custom-filter label {
    margin: 0 0 5px;
}
a.fixed-button, button.fixed-button {
    position: fixed;
    z-index: 99;
    bottom: 35px;
    right: 35px;
    font-size: 40px;
    width: 55px;
    height: 55px;
    padding: 0;
    text-align: center;
    line-height: 50px;
}
a.fixed-relative-button, button.fixed-relative-button {
    font-size: 14px;
    width: auto;
    height: auto;
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 25px;
    background: #000;
    color: #fff;
}
a.fixed-relative-button:hover, button.fixed-relative-button:hover {
    background:#555;
}
button.custom-check,a.custom-check {
    background: #22c55e;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
}
.custom-pagination .relative {
    background: #fff !important;
    color: #000 !important;
    font-weight: 600;
}
.custom-pagination p.leading-5 {
    color: #555;
}
.custom-pagination span[aria-current="page"] span.relative {
    background: #000000 !important;
    color: #fff !important;
}
.custom-no {
    padding: 10px;
    background: #ffe1de;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
}
.custom-body-box {
    font-size: 14.5px;
    color: #000;
    line-height: 1.7;
}
.custom-body-box small {
    background: #eee;
    color: #000;
    padding: 5px;
    margin:5px 0;
    display: block;
    font-size:13.5px;
}
.custom-body-box ul li {
    margin: 0 0 10px;
}
.custom-body-box ul {
    list-style: auto;
    margin: 0 15px;
}
#popupModal {
    z-index: 999;
}
#popupModal .custom-modal-box {
    max-height: 90vh;
    overflow-x: scroll;
}
body.overflow-hidden {
    overflow:hidden;
}
.custom-informasi {
    padding: 20px;
    background: #f2f2f2;
    border-radius: 20px;
    font-size: 15px;
    line-height: 1.8;
}
.custom-informasi a.small-button {
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
}
.custom-heading-icon {
    margin: 0 10px 0 5px;
    background: #eeccff;
    display: flex;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    transform: scale(1.2);
}
.custom-heading-icon svg {
    width: 16px;
    height: 16px;
    margin: 0 auto;
}
.custom-penilaian {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 0 0 10px;
}
.custom-penilaian label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
}
.custom-penilaian select {
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}
.custom-penilaian .form-check label {
    display: inline-block;
}
#assessment-area h5 {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 500;
}
.custom-showtable {
    font-size:15px
}
.custom-penilaian .form-check:hover {
    background: #eee;
}
.custom-penilaian .form-check input, .custom-penilaian .form-check label {
    cursor: pointer;
}
.custom-penilaian .form-check {
    cursor: pointer;
    padding: 5px 10px 0;
    border-radius: 10px;
}
.custom-pagebox {
    border: 2px solid #000;
    border-radius: 20px;
}
.custom-heading {
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
}
.custom-Showcase{
    background:#c7c7ff;
}
.custom-Stage{
    background:#c7efff;
}
.custom-Video{
    background:#fffbc7;
}
.custom-box-qr {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.custom-box-qr .box-qr a {
    background: #eee;
    padding: 40px 20px;
    border-radius: 12px;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    box-shadow: inset 0 -20px rgb(0 0 0 / 9%);
    padding-bottom: 40px;
    text-align:center;
    display:block;
}
.custom-box-qr .box-qr:nth-child(3) a {
    background: #f6bb56;
}
.custom-box-qr .box-qr:nth-child(2) a {
    background: #eda7fe;
}
.custom-box-qr .box-qr:nth-child(1) a {
    background: #9d9bff;
}
.box-qr svg {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
}
.custom-pagebg {
    background: linear-gradient(to right top, #B182FF, #0066FF);
    color: #fff;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:relative;
    overflow:hidden;
}
.custom-pagebg .custom-table label {
    font-weight: 900;
    text-shadow: 0 0 5px black;
    font-size: 17px;
    display: block;
}
.custom-pagebg .custom-table input {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    border:2px solid #000;
    color:#000;
    text-align:center;
}
.home-generator {
    position:relative;
    z-index:9;
    min-width: 300px;
    text-shadow: 0 0 5px black;
    font-weight:700;
}
.custom-pagebg .custom-table button {
    cursor: pointer;
}
.only-reader {
    margin: 30px 0;
    background: #fff;
    color: #000;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    text-shadow: 0 0 #000;
    border:2px solid #000;
}
#reader {
    border: none !important;
}
.custom-pagebox .custom-heading {
    border: none;
    text-shadow: 0 0 5px black;
}
#reader img {
    margin:0 auto;
}
.myqr svg {
    margin: 20px auto;
    padding: 15px;
    background: #fff;
    border-radius: 20px;
}
.custom-pagebg .myname h2 {
    margin: 5px 0;
    font-size: 25px;
}
.svg-bee {
    width: 220px;
    position: absolute;
    z-index: 2;
    top: -35px;
    right: 0;
}
.svg-leaf1 {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 120px;
    transform: rotate(239deg);
}
.svg-leaf2 {
    position: absolute;
    top: 80px;
    right: 0;
    transform: rotate(121deg);
}
.svg-leaf3 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.svg-leaf4 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 120px;
}
@keyframes bees{
    0%{transform:translateY(0)}
    50%{transform:translateY(18px)}
    100%{transform:translateY(0)}
}
.bees1, .bees2, .bees3, .bees4 {
    animation-name:bees;
    animation-iteration-count:infinite;
}
.bees1 {
    position: fixed;
    top: 50px;
    right: 300px;
    animation-duration:3s;
}
.bees2 {
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 100px;
    animation-duration:2s;
}
.bees3 {
    position: fixed;
    z-index: 1;
    top: 80px;
    right: 50px;
    animation-duration:3.5s;
}
.bees4 {
    position: fixed;
    z-index: 9;
    bottom: 150px;
    left: 50px;
    animation-duration:3.2s;
}
.home-generator .player-container {
    width: 768px;
    max-width: 100%;
    background: transparent;
    overflow: hidden;
}
#players {
    padding: 15px;
    max-height: 520px;
    overflow-x: scroll;
    list-style-type: none;
    counter-reset: section;
    position: relative;
}
.player-heading, .player-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding: 15px 30px;
    background: #fff;
    margin: 10px 0;
    border-radius: 30px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 -1px 6px -2px rgb(0 0 0 / 5%);
    color:#111;
    text-shadow:none;
}
.player-score {
    text-align: right;
    font-size: 16px;
}
.player-list.no-grid {
    display: block;
}
.player-list {
    font-weight: 500;
    font-size: 15px;
    display: grid;
    grid-template-columns: .2fr 1.8fr;
    transition: transform 0.5s ease-in-out;
}
span.timeago {
    font-size: 14px;
}
.custom-taskbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:40px 0;
}
.custom-boxtask {
    border: 2px solid #000;
    position: relative;
    cursor:default;
    box-shadow:none;
    transition:all .3s ease-in-out;
}
.custom-boxtask:hover {
    border-color:#6b4da0;
    border-bottom:7px solid #6b4da0;
    transform: translateY(-3px);
}
.custom-boxtask ul {
    margin: 0;
}
.custom-taskbox label span {
    margin: 0 5px;
    font-size: 13px;
}
.custom-taskbox .custom-task-check {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 7px 15px;
    border-radius: 20px;
    margin:5px 0;
    font-size:13px;
    text-transform:capitalize;
}
.custom-taskbox .custom-task-check:hover {
    background:#eee;
}
.custom-task-check label {
    cursor: pointer;
    display: block;
    width: 100%;
}
.custom-task-check.custom-check-done {
    background: #eee;
    text-decoration: line-through;
}
.custom-taskfooter {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 10px;
}
.custom-elipsis {
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
    border-radius:100%;
}
.custom-elipsis:hover {
    background:#eee;
}
.custom-elipsis svg {
    width:5px;
    margin:0 auto;
}
.custom-btn-elipsis {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* RESPONSIVE */
@media screen and (max-width:680px){
    .custom-pagebox.custom-pagebg {
        border: 2px solid #000;
        margin: 5px;
    }
    .custom-pagebox {
        border: none;
        border-radius: 20px;
    }
    .custom-showtable tr {
        display: grid;
    }
    .custom-informasi {
        margin:0 15px;
    }
    .colored-dashboard {
        margin:10px 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .diff-p5 {
        padding: 1.25rem;
    }
    .simple-footer span {
        font-size:11px;
        margin: 10px 0 0;
    }
    .custom-filter,.custom-filter.custom-f3, .custom-box-qr, .custom-taskbox {
        grid-template-columns:100%;
    }
}